<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
              <li><a href="https://github.com/MMAP/MMAP-releases-issues-Q-and-A/releases/latest"">Latest Release</a></li>
              <li><a href="https://github.com/MMAP/MMAP-releases-issues-Q-and-A/issues">Issues and Q&amp;A</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
	        		<!--<li><a href="/blog">Blog</a></li>-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:your_email_address@gmail.com">email</a></li>
	        		<li><a href="https://github.com/your_name">github.com/your_name</a></li>
				</ul>
        <p align="center">MMAP: Mixed Model Analysis for Pedigrees and Populations - Copyright © 2017</p>
			</footer>
		</body>
	</html>
